.title-text {
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}
.subtitle-text{
    -fx-font-size: 11pt;
}

#gameBoard {
    -fx-background-size: contain;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
}

.square-overlay {
    -fx-background-color: green;
    -fx-border-width: 0;
    -fx-opacity: 0.3;
}

.selectable {
    -fx-border-color: red;
    -fx-border-width: 5;
    -fx-border-radius: 5px;
    -fx-opacity: 1;
}

.transparent-overlay{
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.selectable{
    -fx-border-width: 2;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.selectable:hover{
    -fx-border-width: 2;
    -fx-border-color: #F8B73C;
}

/* ===== BOARD CONFIGURATION ===== */

.board-selection-overlay{
    -fx-max-width: 100;
    -fx-max-height: 100;
}

/* ===== SKULLS ===== */

.skull-selection-overlay{
    -fx-opacity: 0.4;
    -fx-border-width: 2;
    -fx-border-color: #F8B73C;
    -fx-background-color: black;
}

.skull-selection-overlay.focused{
    -fx-opacity: 1;
}

/* ===== PLAYERS ===== */
.player-avatar{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

GridPane Line{
    -fx-stroke: yellow;
}