* {
    -fx-dark-back-gray: #333;
    -fx-light-text-gray: #D7D7D7;
    -fx-disabled-text: #838487;
    -fx-light-button-gray: #676767;
    -fx-ligh-buttontext-gray: #FEFEFE;
    -fx-enabled-text: #EDEFEF;
    -fx-accent-color: #F8B73C;
    -fx-accent-color-translucent: rgba(248, 183, 60, 0.3);
}

/* ===== GAME SCREEN GLOBAL ===== */
#gameScene {
    -fx-background-color: -fx-dark-back-gray;
    -fx-text-fill: -fx-light-text-gray;
}

#gameScene * {
    -fx-text-fill: -fx-light-text-gray;
}

.title-text {
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

.subtitle-text {
    -fx-font-size: 11pt;
}

/* ===== GAME BOARD ===== */
#gameBoard {
    -fx-background-size: contain;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
}

.square-overlay {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-opacity: 0.3;
}

.square-overlay.selectable {
    -fx-background-color: -fx-accent-color;
    -fx-opacity: 0.5;
}

.square-overlay.selectable:hover {
    -fx-opacity: 0.75;
}

.selectable {
    -fx-border-width: 2;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.selectable:hover {
    -fx-border-width: 2;
    -fx-border-color: -fx-accent-color;
}

/* ===== BOARD CONFIGURATION ===== */
.board-selection-overlay {
    -fx-max-width: 100;
    -fx-max-height: 100;
}

/* ===== INTEGER SELECTION ===== */
.integer-selection-overlay {
    -fx-pref-width: 48;
    -fx-pref-height: 48;
    -fx-border-color: -fx-dark-back-gray;
    -fx-border-radius: 5;
}

.integer-selection-overlay.selectable:hover {
    -fx-background-color: lightgray;
}

/* ===== EFFECT SELECTION ===== */
.effect-overlay {
    -fx-background-color: #DFDFDF;
}

/* Shadowed effect, applies a shadow behind the element */
.player-avatar, #gameContainer {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

/* ===== PLAYER OPERATIONS ===== */
.player-operation-overlay {
    -fx-background-color: -fx-light-button-gray;
    -fx-border-width: 2;
    -fx-border-color: -fx-light-button-gray;
    -fx-text-fill: -fx-disabled-text;
    -fx-border-radius: 5;
}
.player-operation-overlay *{
    -fx-fill: -fx-disabled-text;
    -fx-font-size: 12pt;
}
.player-operation-overlay.selectable:hover {
    -fx-background-color: -fx-accent-color-translucent;
}
.player-operation-overlay.selectable *{
    -fx-fill: -fx-enabled-text;
}